<div class="content">            
	 <h2 class="title"><%= t("web-app-theme.all", :default => "New")  %> New</h2>
    <div class="inner">
      <%= form_for :bookmark, :url => bookmarks_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>