<% if false %>
 

<% else %>
	<li><%= link_to 'Signup ', signup_path %></li>
	<li><%= link_to 'Help', "#" %></li>
<% end %>



<!--

<li><%= link_to 'List of all Bookmarks ', bookmarks_path %></li>
<li><%= link_to 'Add New Bookmark', new_bookmark_path %></li>

-->
