<div class="content"> 
<div class="inner">
    <h2 class="title">Contact Us</h2>
  <p>DeLaina Siltman</p>
  <p><a href="mailto:DSILTMAN@matcmadison.edu">DSILTMAN@matcmadison.edu</a></p>
  </div>
  </div>
